body {
    margin: 0px;
    margin-top: 0px;
    font-family: 'Monserrat', sans-serif;
    background-color: #000;
    color: #fff;
}
.imagen-fondo { 
    min-height: 100vh;
    width: 105%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/fondo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8%;
  }
.logo-net {
    width: 150px;
    height: 60px;
    object-fit: cover;
  }
.bienvenida {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5%;
}
.bienvenida h1 {
    font-size: 50px;
}
.bienvenida p {
    font-size: 16px;
    margin-bottom: 20px;
}
button {
    background-color: red;
    color: white;
    margin-left: 50px;
    margin-top: 20px; 
    border-color: rgb(255, 0, 0);
    border-radius: 4px;
    font-size: 16;
    padding: 10px 15px;

}
.marco {
    background-color: transparent;
    padding: 10px 60px;
    margin: 5px;
}
.tendencias {
    margin-left: 80px;
}
.redonda {
    border-radius: 5px; 
}
.to-join {
    margin-left: 80px;
}
.contenedor-recuadros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.peliculas {
    padding: 15px;


}
.recuadro {
    flex: 1 1 10%;
    background-image: linear-gradient(to right, #1B072B, #08072B);
    color: white;
    padding: 10px;
    border-radius: 12px;
    width: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 25px;
    margin-right: 25px;
    margin: 5px;
}
.Questions {
    margin-left: 85px;
}
.preguntasfrecuentes {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    max-width: 800px;
    margin: auto;
}
.info {
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
}
.info input {
    display: none;
}
.label {
    display: block;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 10px 0;
}
.label::after {
    content: "+";
    position: absolute;
    right: 0;
}
.info input + .label::after {
    content: "-"
}
.respuesta {
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.3 ease;
    color:#ccc
}
.info input:checked ~ .respuesta {
    max-height: 200px;
    padding: 10px;
}
.boton-final {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8%;
}
.margin {
    margin-left: 80px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 40px;
    flex-wrap: wrap;
}
select {
    background-color: black;
    color: white;
    font-size: 16;
    padding: 10px 15px;
    border-color: white;
    appearance: none;
    border-radius: 4px;
}
small {
    color: #ccc;
}
 .barra-superior {
    width: 100%;
    height: 10px;
    position: relative;
 }
 .linea-roja {
    background-color: rgb(255, 0, 0);
    height: 4px;
    width: 100%;
 }
 